---
import { IconNames, Icon } from "./Icon";

interface NavItem {
  name: string;
  href: string;
}

interface SocialLink {
  name: string;
  href: string;
  icon: IconNames;
}

interface Props {
  navItems?: NavItem[];
  socialLinks?: SocialLink[];
  companyName?: string;
}

const defaultNavItems = [
  { name: "Home", href: "/" },
  { name: "Privacy", href: "/privacy-policy" },
];

const defaultSocialLinks = [
  {
    name: "LinkedIn",
    href: "http://www.linkedin.com/in/advise-my-campus-0346882ab",
    icon: IconNames.linkedIn,
  },
];

const {
  navItems = defaultNavItems,
  socialLinks = defaultSocialLinks,
  companyName = "AdviseMyCampus LLC",
} = Astro.props;
---

<footer class="text-base-content">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav
      aria-label="Footer"
      class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6"
    >
      {
        navItems.map((item) => (
          <a href={item.href} class="btn btn-ghost">
            {item.name}
          </a>
        ))
      }
    </nav>
    <div class="mt-16 flex justify-center gap-x-10">
      {
        socialLinks.map((social) => (
          <a
            href={social.href}
            class="btn btn-ghost"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="sr-only">{social.name}</span>
            <Icon name={social.icon} className="h-6 w-6 text-base-content" />
          </a>
        ))
      }
    </div>
    <p class="mt-10 text-center text-sm/6 text-base-900">
      &copy; {new Date().getFullYear()}
      {companyName}. All rights reserved.
    </p>
  </div>
</footer>
